    .subscribe-button{
        background-color: rgb(200, 20, 20); 
        color: white; 
        border: none;
        height: 35px;
        width: 110px;
        border-radius: 5px;
        cursor: pointer;
        margin-right: 7px;
        transition: opacity 0.2s;
        }
    
    .subscribe-button:hover{
            opacity: 0.8;
        }
    .subscribe-button:active{
            opacity: 0.5;
        }
    
    .join-button{
        background-color: white; 
        color: rgb(22, 117, 149); 
        border-width: 1px;
        border-color: rgb(22, 117, 149);
        border-radius: 2.5px;
        padding-top: 9px ; padding-bottom: 9px;
        padding-left: 15px ; padding-right: 15px;
        cursor: pointer;
        transition: background-color 1s,color 1s;
        }
    
    .join-button:hover{
        background-color: rgb(22, 117, 149); 
        color: white;
    }
    .join-button:active{
        opacity: 0.8;
    }
        
    .twitter-button{
        background-color: rgb(64, 136, 231);; 
        color: white; 
        border: none;
        height: 35px;
        width: 75px;
        border-radius: 20px;
        font-weight: bold;
        font-size: 15px;
        cursor: pointer;
        margin-left: 7px;   
        transition: box-shadow 1s;
    }
        
    .twitter-button:hover{
        box-shadow: 4px 4px 5px rgba(2, 2, 49, 0.5);
    }
        
    .request-button{
        background-color: black;
        color: white; 
        border: none;
        height: 35px;
        width: 120px;
        border-radius: 3px;
        cursor: pointer;
        margin-left: 7px;
    }
        
    .linkedin-button{
        background-color: rgb(10, 102, 194);
        color: white; 
        border: none;
        height: 35px;
        width: 210px;
        border-radius: 18px;
        font-weight: bold;
        cursor: pointer;
        margin-right: 7px;
        margin-left: 7px;
    }
        
    .save-button{
        background-color: white; 
        color: rgb(22, 117, 149); 
        border-color: rgb(22, 117, 149);
        height: 35px;
        width: 60px;
        border-radius: 18px;
        font-weight: bold;
        cursor: pointer;
        transition: 1s;
    }
        
    .save-button:hover{
        height: 70px;
        width: 120px;
        font-size: 30px;
    }


    .cart{
        background-color: rgba(225, 199, 69, 0.863);
        color: black; 
        border: none;
        height: 35px;
        width: 130px;
        border-radius: 17px;
        cursor: pointer;
        margin-right: 7px;  
        transition: background-color 1s , box-shadow 1s , width 1s;
    }
        
    .cart:hover{
        background-color: rgb(194, 163, 11);
        box-shadow: 4px 4px 5px rgba(20, 19, 19, 0.5);
        width: 160px;
    }
        
    .buy{
        background-color: rgb(199, 125, 14);
        color: black; 
        border: none;
        height: 35px;
        width: 110px;
        border-radius: 17px;
        cursor: pointer;
        transition: background-color 1s , box-shadow 1s , width 1s;
    }
        
    .buy:hover{
        background-color: rgb(122, 75, 3);
        box-shadow: 4px 4px 5px rgba(20, 19, 19, 0.5);
        width: 140px;
    }
